<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stats</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/statsStyle.css">
</head>
<body>
<table class="Test">
    <tr>
        <th></th>
        <th>Victorias</th>
        <th>Derrotas</th>
        <th>Empates</th>
    </tr>
    {{#stats}}
    <tr>
        <th>{{name}}</th>
            <td>{{wins}}</td>
            <td>{{losses}}</td>
            <td>{{draws}}</td>
    </tr>
    {{/stats}}
</table>
</body>
</html>